/* GERAL */
* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}

body {
    background-color: #fff;    
}

header {
    background-color: aquamarine;
    
    padding: 1rem;
}

header h1 {
	color: #00008B;
}

#main-container {
    width: 100%;
    margin: 0;
    padding: 0;
}

#fountain-container {
    float: left; 
    position: relative;
    background-color:rgb(17, 16, 15);
}

#fog-img {
    position: absolute;
    width: 255px;
    height: 152px;
    bottom: 142px;
    left: 50px;
    display: none; 
}

#water-stream-img1 {
    position: absolute;
    width: 77px;
    top: 185px;
    left: 90px;
}

#water-stream-img2 {
    position: absolute;
    width: 77px;
    height: 50px;
    top: 275px;
    left: 190px;
    rotate: 20deg;
}


#water-stream-img3 {
    position: absolute;
    width: 77px;
    height: 50px;
    bottom: 225px;
    left: 92px;
    rotate: -10deg;
}

#water-stream-img4 {
    position: absolute;
    width: 77px;
    height: 40px;
    bottom: 137px;
    right: 92px;
    rotate: 10deg;
}



#control-container {
    float: right;
    width: 40%;
    padding:0.5rem;
    background-color: cadetblue;
    display: grid;
}

/* Controls */
#led-control-container,
#pump-control-container,
#fog-control-container { 
    display: flex;
    padding:2rem;
    margin-bottom: 1rem;
}

#led-control-container {
    background-color: chartreuse;    
}

#pump-control-container {
    background-color:darkkhaki;    
}

#fog-control-container {
    background-color:tomato;
    margin-bottom: 0rem;
}


/* Footer */

footer {
    display: flex;
    width: 100%;
    background-color: aquamarine;

}

footer h3 {
	color: #00008B;
}